src/SkylarkTerminal/bin/*
src/SkylarkTerminal/obj/*
src/SkylarkTerminal/obj/Release/*
src/SkylarkTerminal/obj/Debug/*
publish.zip
tests/*
src/SkylarkTerminal/obj/project.nuget.cache
.mcp.json
src/ThirdParty/**/bin/*
src/ThirdParty/**/obj/*
